<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create New Ticket</h6>
    </div>
    <div class="card-body">
        <div class=" mt-1">
          
            <form action="#" method="post">
              <div class="mb-3">
                <label for="ticketTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="ticketTitle" name="ticketTitle" required>
              </div>
              <div class="mb-3">
                <label for="ticketDescription" class="form-label">Description</label>
                <textarea class="form-control" id="ticketDescription" name="ticketDescription" rows="4" required></textarea>
              </div>
              <div class="mb-3">
                <label for="priority" class="form-label">Priority</label>
                <select class="form-control" id="priority" name="priority" required>
                  <option value="low">Low</option>
                  <option value="medium">Medium</option>
                  <option value="high">High</option>
                </select>
              </div>
             
              <div class="mb-3">
                <label for="priority" class="form-label">Department</label>
                <select class="form-control" id="priority" name="priority" required>
                  <option value="low">IT</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="priority" class="form-label">Status</label>
                <select class="form-control" id="priority" name="priority" required>
                  <option value="low">Open</option>
                  <option value="low">Close</option>
                  <option value="low">ReOpen</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="ticketTitle" class="form-label">CC</label>
                <input type="text" class="form-control" id="ticketTitle" name="ticketTitle" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
    </div>
</div>



