
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Priority</h6>
    </div>
    <div class="card-body">
        <div class=" mt-1">
          
          <form >
          
            <div class="card-body">
              <div class="row">
                <div class="mb-3 col-lg-6">
                  <label class="form-label"
                    >Priority
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" class="form-control" />
                </div>
                <div class="mb-3 col-lg-6">
                  <label class="form-label"
                    >Priority Description
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" class="form-control" />
                </div>
                <div class="mb-3 col-lg-6">
                  <label class="form-label"
                    >Priority Color
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" class="form-control" />
                </div>
                <div class="mb-3 col-lg-3">
                  <label class="form-label"
                    >Status
                    <span class="text-danger">*</span>
                  </label>
                  <div class="form-check d-inline-block">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault1"
                      checked
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Active
                    </label>
                  </div>
                  <div class="form-check d-inline-block">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault2"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      Inactive
                    </label>
                  </div>
                </div>
                <div class="mb-3 col-lg-3">
                  <label class="form-label"
                    >Visibility
                    <span class="text-danger">*</span>
                  </label>
                  <div class="form-check d-inline-block">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="Visibility"
                      id="Public"
                      checked
                    />
                    <label class="form-check-label" for="Public">
                      Public
                    </label>
                  </div>
                  <div class="form-check d-inline-block">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="Visibility"
                      id="Private"
                    />
                    <label class="form-check-label" for="Private">
                      Private
                    </label>
                  </div>
                </div>
  
                <div class="mb-3 col-lg-12">
                  <label for="exampleFormControlTextarea1" class="form-label"
                    >Admin Notes</label
                  >
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                  ></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          </div>
    </div>
</div>



