<div class="container">
    <div class="row">
      <div class="col-lg-12 mt-1">
        <form class="card">
          <div class="card-header bg-white border-0 pb-0">
            <h5 class="card-title">Create User</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="mb-3 col-lg-4">
                <label class="form-label"
                  >Email
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3 col-lg-4">
                <label class="form-label"
                  >First Name
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3 col-lg-4">
                <label class="form-label"
                  >Last Name
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" />
              </div>
            
              <!-- <div class="mb-3 col-lg-1">
                <label class="form-label">EXT </label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3 col-lg-1">
                <label class="form-label">Code </label>
                <input type="text" class="form-control" />
              </div> -->
              <!-- <div class="mb-3 col-lg-3">
                <label class="form-label"
                  >Phone
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" />
              </div> -->
              <div class="mb-3 col-lg-3">
                <label class="form-label"
                  >Mobile Number
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3 col-lg-3">
                <label class="form-label"
                  >Role
                  <span class="text-danger">*</span>
                </label>
                <select class="form-control" >
                  <option>Administrator</option>
                  <option>User</option>
                  <option>IT</option>
                </select>
              </div>
              <!-- <div class="col-12">
                <h5 class="card-title">Agent Signature</h5>
              </div> -->

              <!-- <div class="mb-3 col-lg-12">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                ></textarea>
              </div> -->

              <div class="col-12">
                <h5 class="card-title">Account status and setting</h5>
              </div>
              <div class="mb-3 col-lg-12">
                <label class="form-label d-block fw-bold"
                  >Status
                  <span class="text-danger">*</span>
                </label>
                <div class="form-check d-inline-block">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                    checked
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Active
                  </label>
                </div>
                <div class="form-check d-inline-block">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Inactive
                  </label>
                </div>
              </div>
         

              <div class="mb-3 col-lg-4">
                <label class="form-label"
                  >Assigned Group
                  <span class="text-danger">*</span>
                </label>
                <select class="form-control">
                  <option selected="">Select a group</option>
                  <option value="1">National</option>
                  <option value="2">EU</option>
                  <option value="3">International</option>
                </select>
              </div>
              <div class="mb-3 col-lg-4">
                <label class="form-label"
                  >Primary department
                  <span class="text-danger">*</span>
                </label>
                <select class="form-control">
                  <option selected="">Select department</option>
                  <option value="1">National</option>
                  <option value="2">EU</option>
                  <option value="3">International</option>
                </select>
              </div>
              <div class="mb-3 col-lg-4">
                <label class="form-label"
                  >Agent time zone
                  <span class="text-danger">*</span>
                </label>
                <select class="form-control">
                  <option selected="">Select time zone</option>
                  <option value="1">National</option>
                  <option value="2">EU</option>
                  <option value="3">International</option>
                </select>
              </div>

              <div class="mb-3 col-lg-12">
                <label class="form-label d-block fw-bold"
                  >Assigned Team
                  <span class="text-danger">*</span>
                </label>
                <div class="form-check d-inline-block">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="support"
                  />
                  <label class="form-check-label" for="support">
                    Level 1 support
                  </label>
                </div>
              </div>
              <div class="mb-3 col-lg-12">
                <div class="form-check d-inline-block fw-bold">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="password"
                    checked
                  />
                  <label class="form-check-label" for="password">
                    Send password via email
                  </label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>