<div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Tickets</h3>
      </div>
      <div class="col-lg-6 text-end">
        <ol class="cd-breadcrumb">
          <li><a href="#0">Home</a></li>
          <li><a href="#0">Admin</a></li>
          <li><a href="#0">Main</a></li>
          <li class="current"><em>Tickets</em></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="card active">
          <div class="card-header bg-white border-0 pb-0">
            <h5 class="card-title">Tickets</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <div class="icon-div">
                  <i class="fa fa-user user-image" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-8 pt-2">
                <h6>Url</h6>
                <p>lorem ipsum is duumy text</p>
              </div>
              <div class="col-2 text-end pt-2">
                <p>1 month ago</p>
              </div>
              <div class="col-12">
                <h6 class="mt-2 mb-0">Admin</h6>
                <span class="badge-span bg-primary">Atrasado</span>
                <br />
                <button class="btn btn-link p-1 border-0 text-success">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-link p-1 border-0 text-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-white border-0 pb-0">
            <h5 class="card-title">Tickets</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <div class="icon-div">
                  <i class="fa fa-user user-image" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-8 pt-2">
                <h6>Url</h6>
                <p>lorem ipsum is duumy text</p>
              </div>
              <div class="col-2 text-end pt-2">
                <p>1 month ago</p>
              </div>
              <div class="col-12">
                <h6 class="mt-2 mb-0">Admin</h6>
                <span class="badge-span bg-primary">Atrasado</span>
                <br />
                <button class="btn btn-link p-1 border-0 text-success">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-link p-1 border-0 text-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-white border-0 pb-0">
            <h5 class="card-title">Tickets</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <div class="icon-div">
                  <i class="fa fa-user user-image" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-8 pt-2">
                <h6>Url</h6>
                <p>lorem ipsum is duumy text</p>
              </div>
              <div class="col-2 text-end pt-2">
                <p>1 month ago</p>
              </div>
              <div class="col-12">
                <h6 class="mt-2 mb-0">Admin</h6>
                <span class="badge-span bg-primary">Atrasado</span>
                <br />
                <button class="btn btn-link p-1 border-0 text-success">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-link p-1 border-0 text-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-white border-0 pb-0">
            <h5 class="card-title">Tickets</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <div class="icon-div">
                  <i class="fa fa-user user-image" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-8 pt-2">
                <h6>Url</h6>
                <p>lorem ipsum is duumy text</p>
              </div>
              <div class="col-2 text-end pt-2">
                <p>1 month ago</p>
              </div>
              <div class="col-12">
                <h6 class="mt-2 mb-0">Admin</h6>
                <span class="badge-span bg-primary">Atrasado</span>
                <br />
                <button class="btn btn-link p-1 border-0 text-success">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-link p-1 border-0 text-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 right-side">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <div class="icon-div-right">
                  <i class="fa fa-user user-image" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-9 pt-2">
                <h6>Url</h6>
                <p>lorem ipsum is duumy text</p>
              </div>
              <div class="col-12"><strong>Tracking Id:</strong>25410</div>
              <div class="col-12"><strong>Catagrey:</strong>New</div>
              <div class="col-12"><strong>Product:</strong>Same</div>
              <div class="col-12">
                <strong>Peiority:</strong>
                <span class="badge-span bg-danger"> Uregebt </span>
              </div>
              <div class="col-12 text-center mt-3">
                <button class="btn btn-danger">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>