    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                               Open </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Close</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Pending</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Need Approval</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title text-capitalize">
                <i
                  class="fa fa-exclamation-triangle text-danger"
                  aria-hidden="true"
                ></i>
                Require imidiate actions
                <i
                  class="fa fa-question-circle text-primary"
                  aria-hidden="true"
                ></i>

                <i class="fa fa-refresh float-end mt-1" aria-hidden="true"></i>
              </h5>
            </div>
            <div class="card-body task-body">
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
              <div class="task-list">
                <a href=""> #AAAA-0000-025 </a>
                <span class="badge-span"> Assigned to me </span>
                <span class="text-due">Due At: January 04, 2017 11:17 am </span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title text-capitalize">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                Tools
                <span class="beta-badge">Beta</span>
              </h5>
            </div>
            <div class="card-body">
              <input
                type="text"
                class="form-control"
                placeholder="What need to be done?"
              />
              <div class="tas-card-done">
                <i class="fa fa-clock-o text-danger"></i>
                Task 1
                <span class="badge-span bg-danger">open </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      